@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

.login-gradient {
    height: 100vh;
    width: 100vw;
    display: grid;
    background: radial-gradient(circle, #ffe8e8, #ffccd5, #ffa5a5);
    animation: bgPan 10s linear infinite;
    background-size: 400% 400%;
  }
  
  @keyframes bgPan {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .flipbook {
    width: 950px;
    height: 600px;
    perspective: 2000px;
    transform-style: preserve-3d;
  }
  .flipbook .hard {
    background: linear-gradient(to bottom right, #d40012, #dbbf97) !important;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
    padding: 40px 20px;
    border: none;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
                 
                 border-radius: 10px;
  }
  
  .flipbook .hard:hover {
    transform: rotateY(5deg) rotateX(0deg) scale(1.03);
  }
  .flipbook .hard small {
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
    font-size: 16px;
    margin-top: 10px;
    color: #fff;
  }
.flipbook .page {
  background: linear-gradient(135deg, #e9dcdc, #faffcb);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 25px;
  text-align: center;

  /* 3D Look */
  perspective: 1000px;

  box-shadow: 
    0 15px 25px rgba(0, 0, 0, 0.4),
    inset 0 0 10px rgba(255, 255, 255, 0.3),

}

.flipbook .page:hover {
  transform: rotateY(0deg) rotateX(0deg) scale(1.02);
  box-shadow: 
    0 20px 30px rgba(0, 0, 0, 0.5),
    inset 0 0 10px rgba(255, 255, 255, 0.4),

}

  
  .flipbook .page img {
    max-height: 350px;
    object-fit: contain;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }
  
  .flipbook .page small {
    font-size: 14px;
    margin-top: 10px;
    color: #333;
  }
  

  @media (max-width: 1024px) {
    .flipbook {
      width: 90vw;
      height: 500px;
    }
  
    .flipbook .page img {
      width: 90%;
    }
  }


  .css-1jix9vo-MuiPaper-root-MuiCard-root{
    min-width: 100px;
  }