/* customScrollbar.css */

/* Custom scrollbar styles for all elements */

/* Vertical scrollbar */
::-webkit-scrollbar {
    width: 5px;  /* Adjusted vertical scrollbar width */
    background-color: #F5F5F5;
}

/* Horizontal scrollbar */
::-webkit-scrollbar {
    height: 5px;  /* Adjusted horizontal scrollbar height */
    background-color: #F5F5F5;
}

/* Custom scrollbar track styles */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

/* Custom scrollbar thumb styles */
::-webkit-scrollbar-thumb {
    background-color: #8e8f8f;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 75%,
      transparent 75%,
      transparent);
}

/* Firefox scrollbar styles */
.firefoxu {
    scrollbar-width: thin;  /* "auto" or "thin" */
    scrollbar-color: #0071B9 #f5f5f5;  /* Thumb and track colors */
}

/* Specific styles for elements with horizontal scroll (i.e., .scrollbar) */
.scrollbar {
    margin-left: 30px;
    float: left;
    width: 300px;
    height: 80px;
    background: #F5F5F5;
    overflow-x: scroll;  /* Horizontal scrollbar */
    margin-bottom: 25px;
}

/* Force overflow to ensure the scrollbar appears */
.force-overflow {
    height: 1px;
    min-width: 450px;  /* Adjust the minimum width to create overflow */
}
